<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Random Reddit Reviewer"
    Language="1033"
    Version="1.0.0.0"
    Manufacturer="Wild Card Joker"
    UpgradeCode="f13d1f89-2755-4e7c-9a07-bcd9e0982ef2">
    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Set up installation and shortcut directories -->
    <?include Directories.wxi?>
    
    <!-- Set up features -->
    <?include Features\RequiredComponents.wxi?>
  </Product>

  <Fragment>
    <!-- Application icon -->
    <?include Icon.wxi?>
  </Fragment>

  <Fragment>
    <!-- Components -->
    <?include Components\Projects\RandomRedditReviewer.wxi?>
    <?include Components\Projects\SubReddit.wxi?>
    <?include Components\Projects\SubRedditViewModel.wxi?>
  </Fragment>
</Wix>